/*
Write custom rules here ONLY!
*/
/*
ONLY variables, no code here! 
*/
/*Custom variables*/
/*Bootstrap variables are below*/
/*
ONLY mixins, no code here! 
*/
/*
ONLY variables, no code here! 
*/
/*Custom variables*/
/*Bootstrap variables are below*/
/*
Mixin for vendor-prefixes.
Example: @include prefix((transform: translateY(-50%)));
*/
/*
Mixin for background-size cover.
Example: @include background-size-cover;
*/
/*
Mixin for calc.
Example: @include calc(height, 50% - 10px);
*/
/*
Mixin for form-control-focus.
Example: @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
*/
/***Search form***/
#ms-search-form {
  display: inline-block; }
  #ms-search-form #ms-search-input {
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    width: 150px;
    height: auto; }
    @media (min-width: 480px) {
      #ms-search-form #ms-search-input {
        width: auto; } }
  #ms-search-form #ms-search-submit {
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
    #ms-search-form #ms-search-submit:focus {
      outline: 0; }

/***End of Search form***/
/***Show items form***/
#ms-show-items-select {
  border-radius: 17px;
  display: inline-block;
  margin-left: 5px;
  height: auto;
  width: auto; }

/***End of Show items form***/
/***Pagination***/
.ms-pagination .pagination {
  margin: 0; }
  .ms-pagination .pagination > li[ng-if="directionLinks"] {
    display: none; }
    @media (min-width: 480px) {
      .ms-pagination .pagination > li[ng-if="directionLinks"] {
        display: inline; } }
  .ms-pagination .pagination > li:first-child > a {
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px; }
  .ms-pagination .pagination > li:last-child > a {
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px; }
  .ms-pagination .pagination > li > a {
    padding: 5px 12px; }

/***Pagination***/
/***Items block***/
.ms-items-block {
  height: initial;
  height: -webkit-calc(100vh - 274px);
  height: calc(100vh - 274px);
  min-height: 200px;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow-y: auto; }
  @media (min-width: 992px) {
    .ms-items-block {
      height: initial;
      height: -webkit-calc(100vh - 202px);
      height: calc(100vh - 202px);
      overflow-y: auto; } }
  .ms-items-block .ms-item-col {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 768px) {
      .ms-items-block .ms-item-col {
        width: 50%;
        float: left; } }
    @media (min-width: 992px) {
      .ms-items-block .ms-item-col {
        width: 20%; } }
    .ms-items-block .ms-item-col img {
      width: 200px;
      cursor: pointer; }
    .ms-items-block .ms-item-col span {
      cursor: pointer; }
      .ms-items-block .ms-item-col span:hover {
        text-decoration: underline; }

/***End of Items block***/
/***Items table***/
#ms-table tr:hover {
  cursor: pointer; }

/***End of Items table***/
/***Item form***/
.ms-drop-box {
  border: 5px dashed #ccc;
  max-width: 300px;
  max-height: 300px;
  background-color: whitesmoke; }
  .ms-drop-box span {
    color: #b3b3b3;
    display: inline-block;
    padding: 50px 10px;
    font-weight: 700; }
  .ms-drop-box img {
    max-width: 290px;
    max-height: 290px; }

.has-error .ms-drop-box {
  border-color: #d43f3a;
  background-color: #f9e2e2; }
  .has-error .ms-drop-box span {
    color: #d9534f; }

/***End of Item form***/

/*# sourceMappingURL=custom.css.map */
