/*
ONLY variables, no code here! 
*/

/*Custom variables*/
$sans-serif: Arial, Helvetica, sans-serif;
$serif: "Times New Roman", Times, serif;

/*Bootstrap variables are below*/
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";