/*
ONLY variables, no code here! 
*/

/*Custom variables*/
$sans-serif: Arial, Helvetica, sans-serif;
$serif: "Times New Roman", Times, serif;

/*Bootstrap variables are below*/

$body-bg:               #F3F3F3;
$gray-dark:             #3E3E3E;

$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";